
/* Estilos del background */
body {
    background-image:url(../img/690.jpg);
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}

.header-image {
    width: 60vw;
    /* height: 200px; */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen vertical y horizontalmente */
    border-radius: 20px;
}

/* Estilos Main */
/* .main-form {
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.;
} */

.main__container-title {
    font-size: 70px;
    font-family: "Bangers", system-ui;
    color:#242021;
}

.main__container-p1 {
    font-size: 40px;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    color:#242021
}

.main__container-p2 {
    font-size: 30px;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    color:#242021
}

footer {
    background-color: #e92728;

}

.footer__box-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    height: 100px;
    font-size: 70px;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    color:#fff
}

.footer__box-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 100px; 
}

/* Estilos boton */
.Btn {
    position: relative;
    width: 180px;
    height: 50px;
    border: none;
    background-color: #005f99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 8px 8px 0px rgb(12, 12, 12);
    transition-duration: .3s;
  }
  
  .Layer {
    width: 60px;
    position: absolute;
    left: -30px;
    transition-duration: .3s;
    animation: spin 5s  linear infinite;
  }
  
  .Btn:hover {
    transform: translateY(5px);
    box-shadow: 3px 3px 0px black;
    transition-duration: .3s;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .Btn:hover .Layer {
    left: 0%;
    width: 100%;
    transition-duration: .3s;
  }
  
  .text {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    position: absolute;
    z-index: 2;
    transition-duration: .1s;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  }
  
  .Btn:hover .text {
    color: transparent;
    transition-duration: .3s;
  }
  /* svg colors */
  .cls-1 {
    fill: #242021;
  }
  
  .cls-2 {
    fill: #e82728;
  }
  
  .cls-3 {
    fill: #fefefe;
  }
  
  .cls-4 {
    fill: #e92728;
  }
  
  .cls-5 {
    fill: #005f99;
  }
  
  .cls-6 {
    fill: #fff;
  }
  /* svg colors */

/* estilos barra busqueda */

.input-container {
    position: relative;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
    border-top: none;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
  }
  
  .input:focus {
    box-shadow: none;
    transition: all 0.5s;
  }
  
  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0B2447;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
  }
  
  .input-container .topline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
  }
  
  .input-container .underline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
  }